<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlašimský posvícenský běh</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }} {# Přidá CSRF token pro ochranu formuláře #}
        <div>
            {{ form.first_name.label }} {# Vykreslení popisku pole #}
            {{ form.first_name() }} {# Vykreslení pole pro jméno #}
        </div>
        <br>
        <div>
            {{ form.second_name.label }} {# Vykreslení popisku pole #}
            {{ form.second_name() }} {# Vykreslení pole pro příjmení #}
        </div>
        <br>
        <div>
            {{ form.birthdate.label }} {# Vykreslení popisku pole #}
            {{ form.birthdate() }} {# Vykreslení pole pro datum narození #}
        </div>
        <br>
        <div>
            {{ form.club_town.label }} {# Vykreslení popisku pole #}
            {{ form.club_town() }} {# Vykreslení pole pro oddíl nebo město #}
        </div>
        <br>
        <div>
            {{ form.email.label }} {# Vykreslení popisku pole #}
            {{ form.email() }} {# Vykreslení pole pro email #}
            {% if form.email.errors %}
                <span class="error">{{ form.email.errors[0] }}</span>
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.submit() }} {# Vykreslení tlačítka pro odeslání formuláře #}
        </div>
    </form>
</body>
</html>